@layout("/common/_container.html"){
<!-- md editor   -->
<link href="${ctxPath}/static/editormd/css/style.css" rel="stylesheet">
<link href="${ctxPath}/static/editormd/css/editormd.css" rel="stylesheet">
<link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon" />

<input type="hidden" id="username" value="${shiro.getUser().name}">
<div id="articleContainer">
</div>
<div class="form-horizontal">
	<div class="row">
		<div class="col-sm-10">
			<input id="message" type="text" class="form-control"
				   placeholder="请输入消息" autocomplete="off"
				onkeydown="if(event.keyCode==13){$('#mybtn').click()}"/>
		</div>
		<div class="col-sm-2">
			<button class="btn btn-primary mr10" id="mybtn">
				<span style="padding: 5px 20px;color: #0a001f">发送</span>
			</button>
		</div>
	</div>
</div>
<script>
    $(function() {
		const ws = new WebSocket("ws://" + window.location.host + "/websocket");
		const editor = editormd("articleContainer", {
			width  : "100%",
			height : "650px",//不能使用百分比，使用后，将根据内容自动收放
			watch  : false,//是否开启预览
			markdown: "<style type='text/css'>.markdown-body>th:first-child{display: none; width: 15%}</style>\n|||\n| -: | :- |\n",//markdown文本内容
			saveHTMLToTextarea: false,    // 是否将文本保存 HTML 到 Textarea
			htmlDecode :"style,script,iframe",
			emoji :true,
			taskList :true,
			tex :true, //默认不解析
			flowChart : true, //默认不解析
			sequenceDiagram : true, //默认不解析
			path   : "static/editormd/lib/"//lib的路径
			/*//下面三个属性，当文章需要包含图片时添加
            imageUpload : true,//是否开启图片自动上传
            imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],//可上传的图片格式
            imageUploadURL : "网络地址/项目名/上传路径"//图片上传地址，如: http:localhost:8080/mylove/imageUpload.do
            */
		});

		// $("#articleContainer .editormd-preview").css("display: block");
		// $("#articleContainer .editormd-toolbar").css("display: none");
		// $("#articleContainer .editormd-preview-close-btn").css("display: none");

		ws.onopen = function (event) {
			console.log("WebSocket connected.");
			ws.send("Hello, WebSocket!");
		};

		ws.onmessage = function (event) {
			console.log("WebSocket message received: " + event.data);
			var message = JSON.parse(event.data);
			editor.appendMarkdown("|"+ message.username +"|" + message.content +"|\n");
		};

		ws.onclose = function (event) {
			console.log("WebSocket closed.");
		};

		ws.onerror = function (event) {
			console.log("WebSocket error: " + event.data);
		};


        //由于editot.md是懒加载
        // setTimeout(function(){
            //获取编辑器内容
            // console.log(editor.getMarkdown());
        // },500);

        //绑定点击事件
        $("#mybtn").click(function(){
            //这里没有去写后端接口了，将内容存至浏览器存储以便查看和编辑
			const message = $("#message").val();
			const username = $("#username").val();
			const data = {
				"username": username,
				"content": message
			};
			$("#message").val("");
			editor.appendMarkdown("|<div style=\"width: 150pt\">"+ username +"</div>|" + message +"|\n");
			// ws.send(JSON.stringify(data));
        });
    });
</script>
@}